<a href="https://colab.research.google.com/github/tts-jessicakafor/Assignments/blob/main/Data_Structures_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1**
In mathematics, the quadratic equation ax2+bx+c=0 can be solved with the formula x=−b±b2−4ac√2a.

Write a function solve_quadratic, that returns both solutions of a generic quadratic as a pair (2-tuple) when the coefficients are given as parameters.

In [33]:
import math

def solve_quadratic(a,b,c):
  x1 = (-b+math.sqrt(b**2-4*a*c))/(2*a)
  x2 = (-b-math.sqrt(b**2-4*a*c))/(2*a)
  return x1,x2
print(solve_quadratic(1,-3,2))
print(solve_quadratic(1,2,1))

(2.0, 1.0)
(-1.0, -1.0)

**Exercise 2**
Get a space-separated list of integers from the user, create a tuple of those integers. Then compute and print the result of hash(tuple).

In [54]:
#list = []
user_list = input("Give me a list of numbers please: ")

def convert(user_list):
    return tuple(i for i in user_list)
  
#print(convert(user_list))
print("hash tuple: ", hash(convert(user_list)))

#print(tuple(user_list))
#print(hash(tuple(user_list)))

Give me a list of numbers please: [1,2,3]
hash tuple:  -5792246279119834587

**Exercise 3**
Take the following two lists. Create a third list by picking a odd-index elements from the first list and even-index elements from the second.

In [56]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = []
for index, item in enumerate(listOne):
  if index % 2 != 0:
    listThree.append(item)

for index, item in enumerate(listTwo):
  if index % 2 == 0:
    listThree.append(item)

print(listThree)

[6, 12, 18, 4, 12, 20, 28]

**Exercise 4**
Take the following list. Slice it into three equal chunks and reverse each list.

In [51]:
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]
sampleList1 = sampleList[0:3]
sampleList2 = sampleList[3:6]
sampleList3 = sampleList[6:9]
print(sampleList1[::-1],sampleList2[::-1],sampleList3[::-1])

[8, 45, 11] [12, 14, 23] [89, 45, 78]

**Exercise 5**
Iterate through a given list and check if a given element already exists in a dictionary as a key’s value. If not, delete it from the list.

In [63]:
rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict ={'Zach':47, 'Emma':69, 'Kelly':76, 'Jason':97}
newList = []
for item in rollNumber:
  for key in sampleDict.values():
    if item == key:
      newList.append(item)
print(newList)

[47, 69, 76, 97]